body{
    font-family: montserrat;
    color: #262626;
}



/* ***************************************************************************************************************
                                                Navbar Section CSS
**************************************************************************************************************** */
.section-padding{
    padding: 100px 0;
}

.section-header{
    margin-bottom: 50px;
}

.section-header h2{
    font-weight: 700;
    font-size: 40px;
}

.section-header h2 span{
    color: #6cae22;
}

.navbar{
    background: #fff;
}

.navbar-nav{
    font-size: 15px;
    font-weight: 700;

}
.navbar-light .navbar-brand{
    color: #262626;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 2px;
}

.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover{
    color: #262626;
}

.navbar-light .nav-link{
    color: #262626;
}
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover
{
    color: #6cae22;
}

.navbar-toggler{
    padding: 1px 5px;
    font-size: 18px;
    line-height: 0.3;
    background: #fff;

}

/* ***************************************************************************************************************
                                                Home Section CSS
**************************************************************************************************************** */

.carousel-item{
    height: 100vh;
    min-height: 300px;
}

.bg-1{
    background-image: url('img/1.jpg');
}
.bg-2{
    background-image: url('img/2.jpg');
}
.bg-3{
    background-image: url('img/3.jpg');
}

.bg-1,
.bg-2,
.bg-3{
    background-size: cover;
    background-position: center;
}

.carousel-caption{
    bottom: 220px;
    z-index: 2;
    text-align: left;
    left: 8%;
    color: #262626;
}

.carousel-caption h5{
    font-size: 55px;
    text-transform: capitalize;
    margin-top: 25px;
}

.carousel-caption p{
    width: 45%;
    font-size: 18px;
    line-height: 1.9;;
}

.carousel-caption .btn{
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px 20px;
    display: inline-block;
    background-color: #6cae22;
    font-weight: 600;
    margin-top: 15px;
    border-radius: 5px;
    color: #fff;
}

.carousel-indicators{
    bottom: 65px;
}

.carousel-indicators button{
    width: 100px !important;
}

/* ***************************************************************************************************************
                                                About Section CSS
**************************************************************************************************************** */

.about-img img{
    width: 100%;
}

.about-text h5{
    color: #6cae22;
    font-size: 18px;
}

.about-text p{
    color: #6b6b6b;
    line-height: 1.8;
}
.about-text a{
    background: #6cae22;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 10px;
    display: inline-block;
}

/* ***************************************************************************************************************
                                                Stats Section CSS
**************************************************************************************************************** */


.stats{
    background: #6cae22;
    color: #fff;
}

.stats i{
    font-size: 45px;
    margin-bottom: 20px;
}

.stats h2{
    font-weight: 700;
}

/* ***************************************************************************************************************
                                                Services Section CSS
**************************************************************************************************************** */
.singel-service{
    box-shadow: 0 2px 30px rgba(0, 0, 0, 0.3);
    padding: 30px 20px;
    border-radius: 10px;
    transition:all 0.3s ease-in-out;
    cursor: pointer;
}
.services i{
    font-size: 50px;
    margin-bottom: 30px;
    color: #6cae22;
}

.services h2{
    font-weight: 700;
}

.services p{
    line-height: 1.8;
}

.services .btn{
    background: #6cae22;
    padding: 10px 30px;
    color: #fff;
    font-weight: 700;
    margin-bottom: 30px;
    display: inline-block;
    border-radius: 5px;
}

.singel-service:hover{
    background: #6cae22;
    color: #fff;
}
.singel-service:hover i{
    color: #fff;
}

.singel-service:hover a{
    background: #fff;
    color: #6cae22;
}

/* ***************************************************************************************************************
                                                Testimonial Section CSS
**************************************************************************************************************** */
.testimonial .section-header{
    color: #fff;
}
.testimonial .section-header h2 span{
    color: #fff;
}

.testimonial{
    background-color: #6cae22;
}
.testimonial .carousel-caption{
    bottom: 0;
    color: #fff;
}

.testimonial .carousel-item{
    height: 30vh;
}

.testimonial .carousel-caption h5{
    font-size: 16px;
    text-transform: capitalize;
    margin-top: 30px;
}

.testimonial blockquote{
    margin-bottom: 15px;
    margin-top: 15px;
}

.testi-img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto ;
    border: 5px solid #fff;
}

.testi-img img{
    width: 100%;
}

/* ***************************************************************************************************************
                                                Trainer Section CSS
**************************************************************************************************************** */
.card-title{
    font-size: 25px;
    font-weight: 600;
}

.singel-trainer i{
    font-size: 22px;
    margin: 0 15px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.singel-trainer i:hover{
   color: #6cae22;
}

.singel-trainer .fa-facebook:hover{
    color: #3b5998;
}

.singel-trainer .fa-instagram:hover{
    color: #fd1d1d;
}
.singel-trainer .fa-linkedin:hover{
    color: #0000FF;
}
.singel-trainer .fa-youtube:hover{
    color: #c4302b;
}

/* ***************************************************************************************************************
                                                Blog Section CSS
**************************************************************************************************************** */

.singel-blog {
    padding: 30px 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
.singel-blog .card-title{
    font-weight: 700;
}

.singel-blog .card img{
    width: 100%;
}
.singel-blog a{
    background: #6cae22;
    padding: 10px 30px;
    font-weight: 700;
    color: #fff;
    display: block;
    border-radius: 5px;
    text-decoration: none;
}

/* ***************************************************************************************************************
                                                quote Section CSS
**************************************************************************************************************** */

.quote{
    background: #6cae22;
    color: #fff;
}

.singel-quote p{
    font-size: 25px;
}

.singel-quote i{
    font-size: 25px;
    padding: 0 15px;
}


.left-content i{
    padding-right: 15px;
}

/* ***************************************************************************************************************
                                                Contact Section CSS
**************************************************************************************************************** */

.left-content{
    background: #6cae22;
    color: #fff;
    padding: 30px 20px;
}

.right-content label{
    font-size: 20px;
    font-weight: 600;
    margin: 10px 0;
    color: #262626;
}

.right-content .btn{
    background: #6cae22;
    color: #fff;
    font-weight: 700;
    margin-top: 30px;
}

footer{
    background: #6cae22;
    color: #fff;
    padding: 35px 0 !important;
}

footer i{
    margin: 0 15px;
    font-size: 25px;
}


@media only screen and (min-width:768px) and (max-width:992px){
    .navbar-nav{
        text-align: center;
    }

    .navbar-collapse{
        background: #fff;
    }

    .navbar-collapse .nav-item .nav-link{
        color: #000;
    }

    .carousel-caption{
        bottom: 450px;
    }

    .carousel-caption h5{
        font-size: 45px;
    }
    .carousel-caption p{
        width: 100%;
        font-size: 18px;
    }

    .bg-1,
    .bg-2,
    .bg-3{
        background-position: 36%;
    }

    .singel-service{
        margin-bottom: 30px;
    }

    .singel-blog{
        margin-bottom: 30px;
    }

    .singel-trainer{
        margin-bottom: 30px;
    }

    .left-content{
        margin-bottom: 50px;
    }

    .about-img img{
        width: 100%;
    }

    .about-text h5{
        margin: 15px 0 5px;
    }

}

@media only screen and (max-width:767px){
    .navbar-collapse .nav-item .nav-link{
        color: #000;
    }

    .singel-service,
    .singel-blog,
    .singel-trainer,
    .left-content{
        margin-bottom: 30px;
    }

    .carousel-caption h5{
        font-size: 22px;
    }
    .carousel-caption p{
        font-size: 12px;
        width: 100%;
    }

    .about-img{
        margin-bottom: 30px;
    }

    .about-text{
        text-align: center;
    }

    .about-text h5{
        font-size: 16px;
    }
    .about-text h2{
        font-size: 22px;
        font-weight: 700;
    }
    .about-text p{
        font-size: 12px;
        width: 100%;
    }

    .about-text .btn{
        padding: 10px 20px;
        font-size: 16px;
        font-weight: 400;
        margin-top: -5px;
    }

    .singel-number{
        margin-bottom: 30px;
    }

    .bg-1,
    .bg-2,
    .bg-3{
        background-position: 36%;
    }


    .section-header h2{
        font-size: 25px;

    }

    .section-header p{
        font-size: 14px;
    }

    .carousel-caption {
        bottom: 80px;
    }

    .singel-service h2{
        font-size: 18px;
    }
    .singel-service p{
        font-size: 14px;
        line-height: 1.4;
    }

    .btn{
        padding: 10px 20px !important;
        font-weight: 600 !important;
    }

    .navbar-nav{
        text-align: center;
    }

    .singel-quote p{
        font-size: 18px;
        padding: 0 5px;
        width: 100%;
    }

    .singel-quote i{
        padding: 0 5px;
        font-size: 25px;
    }

    .testimonial .carousel-caption{
        bottom: -30px;
    }

    .left-content{
        text-align: center;
    }

    .testimonial .carousel-item {
        height: 100%;
    }



}